:root {
    --spacing-s: 1.5rem;
    --spacing-m: 2rem;
    --spacing-l: 4rem;
    --header-spacing-m: 4.375rem;
    --header-spacing-xl: 7.5rem;
    --hero-title-spacing-m: 8.75rem;
    --gap-xs: 1rem;
    --gap-s: 1.875rem;
    --gap-m: 5rem;
    --gap-l: 7.5rem;
}