h2 {
    font-family: 'SFProText';
    font-weight: 500;
    font-size: 4.6875rem;
    line-height: 1.1;
    color: var(--primary-text-color);
}

h3 {
    font-family: 'SFProText';
    font-size: 2.813rem;
    font-weight: 500;
    line-height: 3.375rem;
    color: var(--primary-text-color);
    text-decoration: none;
    margin: 0;
}

h5 {
    font-family: 'SFProText';
    font-size: 1.375rem;
    font-weight: 400;
    color: var(--primary-text-color);
    margin: 0;
}